<html>

<head>
    <title>Contato</title>
</head>

<body>
    <h1>Contato</h1>

    <% for(var i = 0; i < clientes.length; i++) { %>
    <p>
        <%= clientes[i].nome %>
    </p>
    <% } %>
</body>

</html>
